@use '../../../styles/helpers/helpers' as *;

.uploadMediaBox {
  position: relative;
  grid-row: 1;
  grid-column: 1/-1;
  height: 100%;
  border-radius: $radius-big;
  overflow: hidden;
  border: 0.2rem dashed color('blue-shade-color');
  @include flexBox(column);
  @include flexProperty(space-evenly, center);
  font-weight: weight('boldWeight');
  font-size: size('largeSize');
  background: color('grey-dark-light-4');

  @include respond(tab-portrate) {
    grid-column: 1;
    margin: 0.8rem 2.4rem;
  }

  @include respond(phone-small) {
    margin: 0.8rem 2.4rem;
    font-size: size('regullarSize');
    @include flexProperty(center, center);
  }

  &.active {
    border: 0.3rem solid color('blue-shade-color');
  }

  &.invalid {
    border-color: color('red-color');
    background: rgba(color('red-color'), 0.1);

    .uploadMediaCaption {
      color: color('red-color');
    }

    .uploadMediaCaption::before {
      content: url('../../../../public/assets/error-icon.svg');
      position: absolute;
      z-index: 99;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .uploadMediaCaption {
    position: relative;
    color: color('blue-shade-color');
    max-width: 19.5rem;
    text-align: center;

    @include respond(phone-small) {
      top: 3rem;
    }

    &:after {
      content: 'ჩააგდე ან ატვირთე ლეპტოპის ფოტო';

      @include respond(phone-small) {
        content: 'ლეპტოპის ფოტოს ატვირთვა';
      }
    }

    &.withMessage::after {
      content: attr(data-message);
    }

    &:before {
      content: '';

      @include respond(phone-small) {
        content: url('../../../../public/assets/camera-icon.svg');
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .uploadBtn {
    padding: 1.8rem 6rem;
    background: color('blue-primary-color');
    border-radius: $radius-small;
    color: color('white-color');
    cursor: pointer;

    @include respond(phone-small) {
      display: none;
    }
  }

  .flInp {
    display: none;
  }

  .userMedia {
    @include fitImage;
  }

  .discardMediaBtn {
    position: absolute;
    z-index: 9;
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
    right: 1rem;
    background: color('blue-border-light');
    border-radius: 50%;
  }
}
