@use './helpers/abstract/functions' as *;
@use './helpers/components/media' as *;
@use './helpers/components/components' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-landscape) {
    font-size: 56.25% !important; // 1rem == 9px
  }

  @include respond(tab-portrate) {
    font-size: 50%; // 1rem == 8px
  }

  @include respond(large-desktop) {
    font-size: 75%; // 1rem == 12px
  }
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/HelveticaNeue.ttc') format('truetype');
}

html body {
  font-size: size('regullarSize');
  font-weight: weight('regullar-weight');
  line-height: 1.4;
  font-family: 'HelveticaNeue', sans-serif;
  background: color('white-color');
  color: color('black-secondary');
  overflow-x: hidden;
}

@include scrollBar('body');

html body a {
  text-decoration: none;
}

html body a:hover {
  color: unset;
}

html body button {
  background: none;
  border: none;
  cursor: pointer;
}

html body a,
html body input,
html body textarea,
html body button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

html body ul {
  list-style: none;
}

*::selection,
html body a::selection,
html body input::selection,
html body textarea::selection {
  background: color('blue-primary-color');
  color: color('white-color');
}
