@use '../../styles/helpers/helpers' as *;

.notesContainer {
  margin-bottom: 3rem;

  .notesList {
    max-width: 116rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem;
    grid-auto-rows: 20rem;
    font-size: size('bigSize');
  }
}
