@use '../../../styles//helpers/helpers' as *;

.noteItem {
  @include flexBox;
  max-width: 56.3rem;
  gap: 2.8rem;
  padding: 1.4rem;
  border: 0.1rem solid color('product-item-border');
  border-radius: $radius-big;
  background: color('blue-tint-color-2');

  .noteFig {
    flex: 1;
    border-radius: $radius-small;
    overflow: hidden;
    img {
      @include fitImage;
    }
  }

  .noteDetails {
    flex: 1;
    @include flexBox(column);
    gap: 1.8rem;
    padding: 3rem 0 2.4rem 0;
  }

  .author {
    font-weight: weight('bold-weight');
  }

  .moreBtn {
    margin-top: auto;
    width: max-content;
    color: color('blue-shade-color');
    text-decoration: underline;
    font-size: size('regullarSize');
  }
}
