@use '../../../styles/helpers/helpers' as *;

.pageTitle {
  font-size: size('headingSize');
  font-weight: weight('extra-bold-weight');
  text-align: center;
  margin: 7.6rem 0 8.4rem 0;

  @include respond(tab-portrate) {
    margin: 3rem 0 3rem 0;
    font-size: size('headingSmallSize');
  }

  @include respond(phone-small) {
    margin: 3rem 0 3rem 0;
    font-size: size('largeSize');
  }
}
